<template>
  <div class="account-creation-container">
    <div class="header">
      <h1>Account Creation</h1>
    </div>
    <form>
      <div class="account-details">
        <span>
          <label>Full Name</label>
          <input
            type="text"
            v-model="account.fullName"
            :class="{ error: $v.account.fullName.$error }"
            @blur="$v.account.fullName.$touch()"
            v-tooltip="tooltipName"
          />
        </span>
        <span>
          <label>Email</label>
          <input
            type="text"
            v-model="account.email"
            :class="{ error: $v.account.email.$error }"
            @blur="$v.account.email.$touch()"
            v-tooltip="tooltipEmail"
          />
        </span>
        <span>
          <label>Username</label>
          <input
            type="text"
            v-model="account.username"
            :class="{ error: $v.account.username.$error }"
            @blur="$v.account.username.$touch()"
            v-tooltip="tooltipUser"
          />
        </span>
        <span>
          <label>Password</label>
          <input
            type="password"
            v-model="account.password"
            :class="{ error: $v.account.password.$error }"
            @blur="$v.account.password.$touch()"
            v-tooltip="tooltipPass"
          />
        </span>
      </div>
      <div class="action">
        <button type="button" @click="clear()">Clear</button>
        <button :disabled="$v.account.$invalid" @click.prevent="submit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";
import { eventBus, dataBus } from "../../main";

export default {
  created() {
    const isLogged = localStorage.getItem("isLogged");

    if (isLogged) {
      eventBus.$emit("state", "character-select");
    }
  },
  methods: {
    clear() {
      this.account = {
        fullName: "",
        email: "",
        username: "",
        password: "",
      };
    },
    submit() {
      this.$store.state.account = this.account;
      eventBus.$emit("state", "character-select");
    },
  },
  data() {
    return {
      account: {
        fullName: "",
        email: "",
        username: "",
        password: "",
      },
      retypePassword: "",
    };
  },
  computed: {
    tooltipName() {
      const isShow = this.$v.account.fullName.$error;

      return {
        placement: "left-end",
        content: "Field is required!",
        trigger: "manual",
        show: isShow,
      };
    },
    tooltipEmail() {
      const isShow = this.$v.account.email.$error;
      let message = "";

      if (!this.$v.account.email.email) {
        message = "Must be a valid e-mail!";
      } else if (!this.$v.account.email.required) {
        message = "Field is required!";
      }

      return {
        placement: "left-end",
        content: message,
        trigger: "manual",
        show: isShow,
      };
    },
    tooltipUser() {
      const isShow = this.$v.account.username.$error;
      let message = "";

      if (!this.$v.account.username.minLength) {
        message = "At least 6 characters";
      } else if (!this.$v.account.username.required) {
        message = "Field is required!";
      }

      return {
        placement: "left-end",
        content: message,
        trigger: "manual",
        show: isShow,
      };
    },
    tooltipPass() {
      const isShow = this.$v.account.password.$error;
      let message = "";

      if (!this.$v.account.password.minLength) {
        message = "At least 6 characters";
      } else if (!this.$v.account.password.required) {
        message = "Field is required!";
      }

      return {
        placement: "left-end",
        content: message,
        trigger: "manual",
        show: isShow,
      };
    },
  },
  validations: {
    account: {
      fullName: { required },
      email: { required, email },
      username: { required, minLength: minLength(6) },
      password: { required, minLength: minLength(6) },
    },
  },
};
</script>

<style lang="scss" scoped>
.account-creation-container {
  background: #eef3fa;
  background-image: url("../../assets/bg/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .header {
    align-self: center;
  }

  .account-details {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    span {
      display: flex;
      justify-content: space-between;
      width: 50%;

      label {
        margin: 10px;
      }
    }
  }

  .action {
    text-align: center;
  }
}

.error {
  border-bottom: red 1px solid !important;
}
</style>
