<template>
  <div class="battle-result-container" :style="backgroundStyle">
    <div class="result">
      <h1>Battle Results</h1>
      <div class="break-down">
        <div class="lose-message" v-if="!isWin">
          <label>You lost! Try again.</label>
        </div>
        <div class="exp-gain" v-else-if="isWin && player.nextLevelExp > 0">
          <span
            >Gained <label>{{ battleResult.exp }}</label> EXP!</span
          >
          <span v-if="!battleResult.lvlUp && player.nextLevelExp > 0"
            ><label>{{ player.totalExp }}</label
            >/{{ player.nextLevelExp }} EXP
          </span>
          <span v-if="battleResult.lvlUp">
            LEVEL UP!! {{ player.level - 1
            }}<label
              >{{ " -> " + player.level
              }}{{ maxLevel === player.level ? " MAX!!" : "" }}</label
            >
          </span>
        </div>
        <div class="new-skill" v-if="isWin && battleResult.newSkills.length">
          <span v-for="skill in battleResult.newSkills" :key="skill"
            ><label>{{ skill }}</label> - New skill learned!!</span
          >
        </div>
        <div class="item-drop" v-if="isWin && battleResult.drop">
          Acquired <label>{{ battleResult.drop }}</label> x1
        </div>
        <div
          class="dungeon-unlocked"
          v-if="isWin && battleResult.unlockedDungeons.length"
        >
          <span v-for="dungeon in battleResult.unlockedDungeons" :key="dungeon"
            ><label>
              <label>{{ dungeon }}</label> - Dungeon Unlocked!!</label
            ></span
          >
        </div>
      </div>
      <div class="actions">
        <button @click="returnToScreen('dungeon')">Re-enter Dungeon</button>
        <button @click="returnToScreen('dungeonlist')">
          Return to Dungeon Select screen
        </button>
        <button @click="returnToScreen('character')">
          Return to Character Detail screen
        </button>
        <button @click="returnToScreen('menu')">Return to Main Menu</button>
      </div>
    </div>

    <div class="logs" v-if="false">
      <h2>Logs</h2>
      <div>
        <p v-for="log in battleLogs.slice().reverse()" :key="log">{{ log }}</p>
      </div>
    </div>
    <audio id="resultBGM" autoplay loop>
      <source :src="resultBGM" type="audio/mpeg" />
    </audio>
  </div>
</template>

<script>
import { logger } from "../../main";
import { eventBus } from "../../main";
import { dataBus } from "../../main";
import AccountMixinVue from "../../shared/mixin/AccountMixin.vue";
import DungeonMixinVue from "../../shared/mixin/DungeonMixin.vue";

export default {
  created() {
    this.battleLogs = logger.getLogs();
    this.turnCount = dataBus.getBattleResult().turnCount;

    if (this.isWin) {
      eventBus.$emit("loader", true);
      this.exitDungeon(this.player._id, this.dungeon._id, this.enemy._id)
        .then((result) => {
          this.battleResult.exp = result.exp;
          this.battleResult.lvlUp = result.lvlUp;
          this.battleResult.drop = result.drop;
          this.battleResult.newSkills = result.newSkills;
          this.battleResult.unlockedDungeons = result.unlockedDungeons;

          return this.getCharacterDetails(this.player.accountId);
        })
        .then((result) => {
          if (result) {
            this.$store.commit("updatePlayer", result);
          }

          eventBus.$emit("loader", false);
        })
        .catch((error) => {
          eventBus.$emit("loader", false);
        });
    }
  },
  methods: {
    returnToScreen(location) {
      switch (location) {
        case "dungeon": {
          this.$store.commit("reenterDungeon");
          const boss = this.dungeon.enemies.find((_) => _.boss);

          this.enterDungeon(this.player._id, this.dungeon._id)
            .then((result) => {
              this.$store.state.enemy = result.enemy;

              if (boss && boss._id === result.enemy._id) {
                this.$store.state.isCurrentEnemyBoss = true;
              }

              eventBus.$emit("state", "ingame");
              eventBus.$emit("loader", false);
            })
            .catch((error) => {
              eventBus.$emit("loader", false);
            });
          break;
        }
        case "dungeonlist": {
          eventBus.$emit("state", "dungeon-select");
          break;
        }
        case "character": {
          eventBus.$emit("state", "character-display");
          break;
        }
        default:
          eventBus.$emit("state", "menu");
      }
    },
  },
  data() {
    return {
      maxLevel: 50,
      turnCount: 0,
      battleLogs: [],
      battleResult: {
        exp: 0,
        lvlUp: false,
        drop: "",
        newSkills: [],
        unlockedDungeons: [],
      },
    };
  },
  computed: {
    resultBGM() {
      return require(`../../assets/bgm/result.mp3`);
    },
    backgroundStyle() {
      const imgUrl = require(`../../assets/bg/${this.dungeon.image}.png`);
      return {
        "background-image": `url(${imgUrl})`,
      };
    },
    player() {
      return this.$store.state.player;
    },
    enemy() {
      return this.$store.state.enemy;
    },
    dungeon() {
      return this.$store.state.dungeon;
    },
    isWin() {
      return this.$store.state.isBattleWin;
    },
  },
  mixins: [DungeonMixinVue, AccountMixinVue],
};
</script>

<style lang="scss" scoped>
.battle-result-container {
  background: #000;
  background-size: 130%;
  background-repeat: no-repeat;
  display: flex;
  padding: 0px 20px;

  .result {
    width: 50%;
    font-size: 20px;

    .actions {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
        height: 30px;
      }
    }
    .break-down {
      padding: 20px;
      background: #000;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 0)
      );
      .exp-gain {
        display: flex;
        flex-direction: column;

        span label {
          font-size: 40px;
        }
      }

      .new-skill {
        display: flex;
        flex-direction: column;
      }

      .dungeon-unlocked {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .logs div {
    height: 400px;
    overflow-y: auto;
  }
}
</style>
