<template>
  <div class="character-select-container">
    <div class="header">
      <h1>Character Selection</h1>
    </div>
    <div class="character-details">
      <div class="selection">
        <div class="choices">
          <span
            v-for="character of characters"
            :key="character.id"
            :class="{ selected: selectedCharacter.id === character.id }"
            @click="selectCharacter(character)"
          >
            <label>{{ character.className }}</label>
          </span>
        </div>
        <div class="details">
          <div class="description">
            {{ selectedCharacter.description }}
          </div>
        </div>
      </div>
      <div class="display">
        <div class="character-display">
          <img :src="characterImage" :style="characterStyle" />
        </div>
      </div>
    </div>
    <form>
      <div class="player-details">
        <span>
          <label>Name </label>
          <input
            type="text"
            v-model="name"
            :class="{ error: $v.name.$error }"
            @blur="$v.name.$touch()"
            v-tooltip="tooltipName"
          /><button :disabled="$v.name.$invalid" @click.prevent="submit()">
            Submit
          </button>
        </span>
      </div>
    </form>
  </div>
</template>

<script>
import { eventBus } from "../../main";
import { Characters } from "../mockdata/characters";
import { required, maxLength } from "vuelidate/lib/validators";
import AccountMixin from "../../shared/mixin/AccountMixin";

export default {
  methods: {
    selectCharacter(character) {
      this.selectedCharacter = character;
      this.skillDisplayName = "";
      this.skillDisplayDesc = "";
    },
    showSkillDesc(skill) {
      this.skillDisplayName = skill.name;
      this.skillDisplayDesc = skill.desc;
    },
    submit() {
      let accountDetails = this.accountDetails;
      accountDetails.classType = this.selectedCharacter.id;
      accountDetails.characterName = this.name;

      eventBus.$emit("loader", true);
      this.createAccount(accountDetails)
        .then((result) => {
          eventBus.$emit("state", "login");
          eventBus.$emit("loader", false);
        })
        .catch((error) => {
          eventBus.$emit("loader", false);
        });
    },
  },
  computed: {
    accountDetails() {
      return this.$store.state.account;
    },
    tooltipName() {
      const isShow = this.$v.name.$error;
      let message = "";

      if (!this.$v.name.maxLength) {
        message = "Max length of 20 characters only!";
      } else if (!this.$v.name.required) {
        message = "Field is required!";
      }

      return {
        placement: "bottom-end",
        content: message,
        trigger: "manual",
        show: isShow,
      };
    },
    characterImage() {
      return require(`../../assets/characters/${this.selectedCharacter.sprite.image}.png`);
    },
    characterStyle() {
      return {
        "max-height": `190px`,
        height: "auto",
        width: "auto",
      };
    },
  },
  data() {
    return {
      name: "",
      characters: Characters.filter((_) => _.isEnabled),
      selectedCharacter: Characters.filter((_) => _.isEnabled)[0],
      skillDisplayName: "",
      skillDisplayDesc: "",
    };
  },
  validations: {
    name: { required, maxLength: maxLength(20) },
  },
  mixins: [AccountMixin],
};
</script>

<style lang="scss" scoped>
.character-select-container {
  background: #000000;
  background-image: url("../../assets/bg/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .header {
    align-self: center;
  }

  .character-details {
    height: 35%;
    display: flex;
    margin: 60px;

    .selection {
      display: flex;
      width: 50%;

      .choices {
        display: flex;
        flex-flow: column;
        font-size: 20px;

        span {
          border: 1px solid #fff;
          padding: 10px;

          &.selected {
            background: #fff;
            color: #000;
          }
        }
      }

      .details {
        border: 1px solid #fff;
        width: 100%;

        display: flex;
        padding: 10px;
        flex-flow: column;

        .description {
          height: 30%;
        }

        .parameters {
          display: flex;
          flex-flow: column;
        }
      }
    }

    .display {
      display: flex;
      width: 50%;
      border: 1px solid #fff;

      .character-display {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #fff;
      }

      .skill-display {
        width: 50%;
        border: 1px solid #fff;

        .skills {
          display: flex;
          flex-flow: column;
          border: 1px solid #fff;
          padding: 10px;

          .skill-buttons {
            display: flex;
            button {
              width: 100%;
            }
          }
        }

        .skill-desc {
          padding: 20px;
          display: flex;
          flex-flow: column;

          .title {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  .player-details {
    margin: 20px;
    text-align: center;

    button {
      margin: 10px;
    }
  }
}
.error {
  border-bottom: red 1px solid !important;
}
</style>
