<template>
  <div class="character-display-container">
    <div class="character-details">
      <div class="inventory">
        <div class="equipment">
          <div class="weapon">
            <div class="icon">[]</div>
            <div class="details">
              <label
                ><button
                  type="button"
                  @click="unequip('WPN')"
                  v-if="player.equipment.weapon"
                >
                  Unequip
                </button>
                {{ weaponLabel }}</label
              >
              <span>{{ weaponBonuses }}</span>
            </div>
          </div>
          <div class="armor">
            <div class="icon">[]</div>
            <div class="details">
              <label
                ><button
                  type="button"
                  @click="unequip('AMR')"
                  v-if="player.equipment.armor"
                >
                  Unequip
                </button>
                {{ armorLabel }}</label
              >
              <span>{{ armorBonuses }}</span>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="title">
            <label>[</label>
            <label
              @click="setItemCategory('WPN')"
              style="cursor: pointer"
              :class="{ isSelected: currentItemCategory === 'WPN' }"
              v-tooltip="{ content: 'Weapons Only' }"
              >W</label
            >
            <label>|</label>
            <label
              @click="setItemCategory('AMR')"
              style="cursor: pointer"
              :class="{ isSelected: currentItemCategory === 'AMR' }"
              v-tooltip="{ content: 'Armors Only' }"
              >A</label
            >
            <label>|</label>
            <label
              @click="setItemCategory('')"
              style="cursor: pointer"
              :class="{ isSelected: currentItemCategory === '' }"
              v-tooltip="{ content: 'All items' }"
              >All</label
            >
            <label>]</label>
            <label
              class="inventory-title"
              style="cursor: pointer"
              @click="isShowClassItemOnly = !isShowClassItemOnly"
              >Inventory [{{
                isShowClassItemOnly ? "Show All items" : "Show class items"
              }}]</label
            >
          </div>
          <div class="contents">
            <span
              style="cursor: pointer"
              v-for="item in inventoryFiltered"
              :key="item._id"
              @click="selectItem(item)"
            >
              {{ getItemCount(item) }}x {{ item.item.name }}

              <button
                type="button"
                :disabled="isItemEquipped(item) || !canEquipped(item)"
                @click="equipItem(item)"
              >
                {{ isItemEquipped(item) ? "Equipped" : "Equip" }}
              </button>
            </span>
          </div>
          <div class="item-description" v-if="selectedItem">
            <label
              >[] {{ selectedItem.name }} -
              {{ getClassType(selectedItem.classId) }}</label
            >
            <span>{{ getBonusesText(selectedItem.bonus) }}</span>
          </div>
        </div>
      </div>
      <div class="parameters">
        <div class="attributes">
          <label>Attributes</label>
          <span><label>ATK</label>{{ getAttributeCount("off") }}</span>
          <span><label>DEF</label>{{ getAttributeCount("def") }}</span>
          <span><label>AGI</label>{{ getAttributeCount("agi") }}</span>
          <span><label>INT</label>{{ getAttributeCount("int") }}</span>
          <span><label>LUK</label>{{ getAttributeCount("luk") }}</span>
        </div>
        <div class="skills">
          <label>Skills</label>
          <div class="contents">
            <span v-for="skill in skills" :key="skill._id">
              <label
                :style="{
                  color: skill.damage > 0 ? 'red' : 'lawngreen',
                  'font-weight': 'bold',
                }"
                >{{ skill.name }}
              </label>
              - {{ skill.damage > 0 ? "Dmg" : "Heal" }}:
              {{ skill.damage > 0 ? skill.damage : skill.damage * -1 }} | T:
              {{ skill.target }} | MP:
              {{ skill.cost }}

              <button
                type="button"
                @click="setSkill(skill, !isSkillEquipped(skill))"
                :disabled="!isSkillEquipped(skill) && player.skills.length >= 4"
              >
                {{ isSkillEquipped(skill) ? "Unequip" : "Equip" }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="character-overview" :style="characterImageStyle">
      <div class="image">
        <div class="name">{{ player.name }}</div>
      </div>
      <div class="status">
        <div class="level-exp">
          <span class="level">LEVEL {{ player.level }}</span>
          <span class="exp">
            <span class="bar">
              <span class="current-exp" :style="expBarStyle"></span>
            </span>
            <span v-if="player.nextLevelExp > 0"
              >{{ player.totalExp }}/{{ player.nextLevelExp }} EXP</span
            >
            <span v-else>MAX Level reached!</span>
          </span>
        </div>
        <span>HP: {{ getAttributeCount("health") }}</span>
        <span>MP: {{ getAttributeCount("mana") }}</span>
      </div>
      <button type="button" @click="startGame()">Go to Dungeon Select</button>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../../main";
import CharacterMixin from "../../shared/mixin/CharacterMixin";
import AccountMixin from "../../shared/mixin/AccountMixin";

export default {
  created() {
    eventBus.$emit("loader", true);
    this.getCharacterInventory(this.player._id)
      .then((result) => {
        this.$store.state.inventory = result;
        eventBus.$emit("loader", false);
      })
      .catch((error) => {
        eventBus.$emit("loader", false);
      });
    this.getCharacterSkills(this.player._id)
      .then((result) => {
        this.$store.state.skills = result;
        eventBus.$emit("loader", false);
      })
      .catch((error) => {
        eventBus.$emit("loader", false);
      });
  },
  data() {
    return {
      selectedSkill: null,
      selectedItem: null,
      isShowClassItemOnly: true,
      currentItemCategory: "",
    };
  },
  methods: {
    startGame() {
      eventBus.$emit("state", "dungeon-select");
    },
    setItemCategory(category) {
      this.currentItemCategory = category;
    },
    setSkill(skill, isEquip) {
      let currentSkillIds = this.player.skills.map((_) => _._id);
      if (isEquip) {
        currentSkillIds.push(skill._id);
        this.$store.state.player.skills.push(skill);
      } else {
        currentSkillIds = currentSkillIds.filter((_) => _ !== skill._id);
        this.$store.state.player.skills = this.player.skills.filter((_) =>
          currentSkillIds.some((s) => s === _._id)
        );
      }

      eventBus.$emit("loader", true);
      this.updateSkills(this.player._id, currentSkillIds).then((_) => {});
      eventBus.$emit("loader", false);
    },
    isSkillEquipped(skill) {
      const equippedSkill = this.player.skills.find((_) => _._id === skill._id);

      return !!equippedSkill;
    },
    selectItem(item) {
      this.selectedItem = item.item;
    },
    unequip(itemType) {
      const weaponId =
        itemType === "WPN"
          ? null
          : this.player.equipment.weapon
          ? this.player.equipment.weapon._id
          : null;
      const armorId =
        itemType === "AMR"
          ? null
          : this.player.equipment.armor
          ? this.player.equipment.armor._id
          : null;

      eventBus.$emit("loader", true);
      this.updateEquipment(this.player._id, weaponId, armorId)
        .then((result) => {
          return this.getCharacterDetails(this.player.accountId);
        })
        .then((result) => {
          if (result) {
            this.$store.commit("updatePlayer", result);
          }
          eventBus.$emit("loader", false);
        })
        .catch((error) => {
          eventBus.$emit("loader", false);
        });
    },
    equipItem(item) {
      const itemType = item.item.type;
      const weaponId =
        itemType === "WPN"
          ? item.item._id
          : this.player.equipment.weapon
          ? this.player.equipment.weapon._id
          : null;
      const armorId =
        itemType === "AMR"
          ? item.item._id
          : this.player.equipment.armor
          ? this.player.equipment.armor._id
          : null;

      eventBus.$emit("loader", true);
      this.updateEquipment(this.player._id, weaponId, armorId)
        .then((result) => {
          return this.getCharacterDetails(this.player.accountId);
        })
        .then((result) => {
          if (result) {
            this.$store.commit("updatePlayer", result);
          }
          eventBus.$emit("loader", false);
        })
        .catch((error) => {
          eventBus.$emit("loader", false);
        });
    },
    canEquipped(item) {
      return item.item.classId === this.player.classType;
    },
    isItemEquipped(item) {
      const itemId = item.item._id;

      if (item.item.type === "WPN" && this.player.equipment.weapon) {
        const playerWeaponId = this.player.equipment.weapon._id;
        return itemId === playerWeaponId;
      }

      if (item.item.type === "AMR" && this.player.equipment.armor) {
        const playerArmorId = this.player.equipment.armor._id;
        return itemId === playerArmorId;
      }

      return false;
    },
    selectSkill(skill) {
      this.selectedSkill = skill;
    },
    getClassAsset(id) {
      const className = this.getClassType(id);

      if (className === "Every Class") {
        return "";
      }

      return `${className.toLowerCase()}_1.png`;
    },
    getItemCount(item) {
      return this.inventory.filter((_) => _.item._id === item.item._id).length;
    },
    getAttributeCount(attribute) {
      let baseAttribute = this.player.stats[attribute];

      const hasWeapon = !!this.player.equipment.weapon;
      const hasArmor = !!this.player.equipment.armor;

      let weaponAttribute = hasWeapon
        ? this.player.equipment.weapon.bonus[attribute]
        : 0;
      let armorAttribute = hasArmor
        ? this.player.equipment.armor.bonus[attribute]
        : 0;

      const totalEquipmentBonus = weaponAttribute + armorAttribute;
      const totalAttribute = baseAttribute + totalEquipmentBonus;

      if (totalEquipmentBonus > 0) {
        return `(${baseAttribute} + ${totalEquipmentBonus}) ${totalAttribute}`;
      }

      return `${baseAttribute}`;
    },
    getClassType(id) {
      switch (id) {
        case 1:
          return "Saber";
        case 2:
          return "Archer";
        case 3:
          return "Lancer";
        case 4:
          return "Berserker";
        case 5:
          return "Caster";
        default:
          return "Every Class";
      }
    },
    getBonusesText(bonus) {
      let bonusText = "";

      bonusText = this.appenedBonus(bonusText, "HP", bonus.health);
      bonusText = this.appenedBonus(bonusText, "MP", bonus.mana);
      bonusText = this.appenedBonus(bonusText, "ATK", bonus.off);
      bonusText = this.appenedBonus(bonusText, "DEF", bonus.def);
      bonusText = this.appenedBonus(bonusText, "AGI", bonus.agi);
      bonusText = this.appenedBonus(bonusText, "INT", bonus.int);
      bonusText = this.appenedBonus(bonusText, "LUK", bonus.luk);

      return bonusText;
    },
    appenedBonus(totalBonusTxt, name, value) {
      if (value > 0) {
        if (totalBonusTxt.length > 0) {
          totalBonusTxt = `${totalBonusTxt} | ${name} : ${value}`;
          return totalBonusTxt;
        }

        return `${name} : ${value}`;
      }

      return totalBonusTxt;
    },
  },
  computed: {
    player() {
      return this.$store.state.player;
    },
    inventory() {
      return this.$store.state.inventory;
    },
    inventoryUnique() {
      const unique = [];

      this.inventory.forEach((_) => {
        if (!unique.some((v) => v.item._id === _.item._id)) {
          unique.push(_);
        }
      });

      return unique;
    },
    inventoryFiltered() {
      return this.inventoryUnique.filter((v) => {
        if (this.isShowClassItemOnly) {
          return (
            v.item.classId === this.player.classType &&
            (this.currentItemCategory === "" ||
              v.item.type === this.currentItemCategory)
          );
        }

        return (
          this.currentItemCategory === "" ||
          v.item.type === this.currentItemCategory
        );
      });
    },
    skills() {
      return this.$store.state.skills;
    },
    weaponLabel() {
      if (this.player.equipment.weapon) {
        const name = this.player.equipment.weapon.name;
        const classType = this.getClassType(
          this.player.equipment.weapon.classId
        );

        return `${name} - ${classType}`;
      }

      return "NONE";
    },
    weaponBonuses() {
      if (!this.player.equipment.weapon) return "";
      return this.getBonusesText(this.player.equipment.weapon.bonus);
    },
    armorLabel() {
      if (this.player.equipment.armor) {
        const name = this.player.equipment.armor.name;
        const classType = this.getClassType(
          this.player.equipment.armor.classId
        );

        return `${name} - ${classType}`;
      }

      return "NONE";
    },
    armorBonuses() {
      if (!this.player.equipment.armor) return "";
      return this.getBonusesText(this.player.equipment.armor.bonus);
    },
    expBarStyle() {
      const expPercent =
        (this.player.totalExp / this.player.nextLevelExp) * 100;

      return {
        width: `${expPercent}%`,
      };
    },
    characterImageStyle() {
      const imgUrl = require(`../../assets/characters/${this.getClassAsset(
        this.player.classType
      )}`);
      return {
        background: `url(${imgUrl})`,
      };
    },
  },
  mixins: [CharacterMixin, AccountMixin],
};
</script>

<style lang="scss" scoped>
.character-display-container {
  background: #000000;
  background-image: url("../../assets/bg/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    border-bottom: 1px solid #fff;
  }

  .character-details {
    width: 55%;
    height: 50%;
    border: 1px solid #fff;

    .inventory {
      padding: 20px;
      height: 50%;
      display: flex;
      .equipment {
        width: 50%;
        height: 100%;
        margin-right: 10px;

        div {
          display: flex;
          height: 50%;

          .details {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .items {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .title {
          border-bottom: 1px solid #fff;

          .isSelected {
            color: red;
          }
        }

        .item-description {
          display: flex;
          flex-direction: column;
        }

        .contents {
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          height: 90%;

          .v-popover {
            display: inline !important;
          }

          button {
            float: right;
          }
        }
      }
    }

    .parameters {
      height: 30%;
      display: flex;
      padding: 20px;

      .attributes {
        width: 30%;
        display: flex;
        flex-direction: column;

        span {
          text-align: right;

          label {
            float: left;
            border: none;
          }
        }
      }

      .skills {
        margin-left: 10px;
        width: 70%;
        display: flex;
        flex-direction: column;

        .contents {
          display: flex;
          flex-direction: column;
          overflow-y: auto;

          button {
            float: right;
          }
        }
      }
    }
  }

  .character-overview {
    width: 35%;
    height: 50%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-position: 50% 18% !important;
    background-size: 200% !important;
    border: 1px solid #fff;

    .image {
      height: 100%;

      .name {
        margin: 10px;
        font-size: 40px;
        float: left;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    .status {
      background-color: rgb(0, 0, 0);
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      height: 30%;
      text-align: right;
      display: flex;
      flex-direction: column;

      .level-exp {
        display: flex;
        flex-direction: column;
        .level {
          font-size: 20px;
        }

        .exp {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .bar {
            height: 10px;
            width: 50%;
            border: 1px solid #fff;

            .current-exp {
              display: block;
              height: 10px;
              background-color: paleturquoise;
            }
          }
        }
      }
    }
  }
}
</style>
