<template>
  <div class="dungeon-select-container">
    <div class="dungeon-list">
      <div class="buttons">
        <button type="button" @click="characterSetup()">
          Character Set-up
        </button>
        <button type="button" @click="logout()">Log out</button>
      </div>
      <div class="contents">
        <div
          class="dungeon"
          v-for="dungeon in dungeons"
          :key="dungeon._id"
          @click="selectDungeon(dungeon)"
        >
          <div>
            <label v-if="dungeon.locked">[X]</label
            ><label class="name">{{ dungeon.name }}</label>
            <button
              v-if="!dungeon.locked"
              type="button"
              @click="enterSelectedDungeon(dungeon)"
            >
              Enter Dungeon
            </button>
          </div>
          <div class="info">
            <label>Recommended Level: {{ dungeon.recommendedLevel }}</label>
            <label>[]</label>
            <label
              v-if="dungeon.locked"
              v-tooltip="{ content: getDefeatBossName(dungeon) }"
              >Defeat to unlock:
              {{ getDefeatBossName(dungeon) | truncate(10) }}</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="preview" :style="previewStyle">
      <div class="enemy-list" v-if="selectedDungeon">
        <div
          class="enemy"
          v-for="enemy in selectedDungeon.enemies"
          :key="enemy._id"
          :style="getEnemyStyle(enemy)"
          v-tooltip="{ content: enemy.name }"
        >
          <label v-if="enemy.boss">BOSS</label>
        </div>
      </div>
      <div class="drop-list" v-if="selectedDungeon">
        <span v-for="drop in dropList" :key="drop._id">
          <label>{{ drop.name }}</label>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import CharacterMixinVue from "../../shared/mixin/CharacterMixin.vue";
import { eventBus } from "../../main";
import DungeonMixinVue from "../../shared/mixin/DungeonMixin.vue";

export default {
  created() {
    eventBus.$emit("loader", true);
    this.getDungeonList(this.player._id)
      .then((result) => {
        this.dungeons = result;
        this.selectDungeon(this.dungeons[0]);

        eventBus.$emit("loader", false);
      })
      .catch((error) => {
        this.errorMessage = error.body.error;
        eventBus.$emit("loader", false);
      });
  },
  methods: {
    characterSetup() {
      eventBus.$emit("state", "character-display");
    },
    logout() {
      eventBus.$emit("state", "menu");
    },
    enterSelectedDungeon(dungeon) {
      if (dungeon) {
        this.$store.state.dungeon = dungeon;
        const boss = dungeon.enemies.find((_) => _.boss);

        this.$store.state.isCurrentEnemyBoss = false;

        this.enterDungeon(this.player._id, dungeon._id)
          .then((result) => {
            this.$store.state.enemy = result.enemy;

            if (boss && boss._id === result.enemy._id) {
              this.$store.state.isCurrentEnemyBoss = true;
            }

            eventBus.$emit("state", "ingame");
            eventBus.$emit("loader", false);
          })
          .catch((error) => {
            this.errorMessage = error.body.error;
            eventBus.$emit("loader", false);
          });
      }
    },
    getEnemyStyle(enemy) {
      if (enemy) {
        const enemyImageName = enemy.name.replace(" ", "-").toLowerCase();
        const imgUrl = require(`../../assets/characters/${enemyImageName}.png`);

        let borderStyle = "2px solid";

        if (enemy.boss) {
          borderStyle = borderStyle + " red";
        } else {
          borderStyle = borderStyle + " black";
        }

        return {
          "background-image": `url(${imgUrl})`,
          border: borderStyle,
        };
      }
    },
    selectDungeon(dungeon) {
      this.selectedDungeon = dungeon;

      this.dropList = [];
      dungeon.enemies.forEach((enemy) => {
        enemy.drops.forEach((drop) => {
          this.dropList.push(drop);
        });
      });
    },
    getDefeatBossName(dungeon) {
      if (dungeon.bossReq && dungeon.bossReq.name) {
        return dungeon.bossReq.name;
      }

      return "None";
    },
    isCurrentSelected(dungeon) {
      return this.selectedDungeon && dungeon._id === this.selectedDungeon._id;
    },
  },
  data() {
    return {
      dungeons: [],
      selectedDungeon: null,
      dropList: [],
    };
  },
  computed: {
    player() {
      return this.$store.state.player;
    },
    previewStyle() {
      if (this.selectedDungeon) {
        const imgUrl = require(`../../assets/bg/${this.selectedDungeon.image}.png`);

        return {
          background: `url(${imgUrl})`,
        };
      }

      return {
        background: `transparent`,
      };
    },
  },
  mixins: [CharacterMixinVue, DungeonMixinVue],
};
</script>

<style lang="scss" scoped>
.dungeon-select-container {
  background: #000000;
  background-image: url("../../assets/bg/dungeonselect.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse;

  .dungeon-list {
    margin: 10px;
    background-color: transparent;
    width: 45%;
    height: 50%;

    > label {
      font-size: 30px;
    }

    .contents {
      margin-top: 15px;
      overflow-y: auto;
      height: 100%;

      .dungeon {
        height: 75px;
        background-image: url("../../assets/ui/d1.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 10px;
        cursor: pointer;

        div {
          padding: 8px;
          label {
            margin-right: 10px;
          }
        }

        button {
          float: right;
        }

        > * {
          margin-left: 20px;
        }
      }
    }
  }

  .preview {
    margin-top: 75px;
    border: 1px solid #fff;
    width: 45%;
    height: 50%;

    .drop-list {
      width: 80%;
      background: #000;
      margin: 20px;
      display: flex;
      flex-direction: column;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

      span {
        margin: 3px 10px;
      }
    }

    .enemy-list {
      display: flex;

      .enemy {
        margin: 10px;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
</style>
