<template>
  <div class="in-game-container">
    <div class="header">
      <div class="battle-type">
        {{ dungeon.name }}{{ isBoss ? " - BOSS" : "" }}
      </div>
      <div class="turn">
        <button type="button" @click="logout()">Logout</button>
      </div>
      <div class="turn-count">Turn Count: {{ turnCount }}</div>
    </div>
    <div class="field" :style="fieldStyle">
      <s-character :character="enemy"></s-character>
      <s-character :character="player"></s-character>
    </div>
    <div class="character-details">
      <s-char-details :character="enemy">
        <s-char-action
          :style="displayEnemyActions"
          :character="enemy"
          @action="setAction(enemy, player, $event)"
        ></s-char-action>
      </s-char-details>
      <s-char-details :character="player">
        <s-char-action
          :style="displayActions"
          :character="player"
          @action="setAction(player, enemy, $event)"
        ></s-char-action>
      </s-char-details>
    </div>
    <transition name="slide-fade">
      <div class="notifications" v-if="notificationMessage !== ''">
        <span>{{ notificationMessage }}</span>
      </div>
    </transition>
    <transition name="slide-fade">
      <div class="end-game" v-if="isEndGame">
        <span>{{ endGameMessage }}</span>
      </div>
    </transition>
    <audio id="fieldBGM">
      <source :src="this.fieldAudio" type="audio/mpeg" />
    </audio>
  </div>
</template>

<script>
import { eventBus, dataBus } from "../../main";
import { logger } from "../../main";

import CharacterDetailComponent from "../in-game/CharacterDetailComponent";
import CharacterComponent from "../in-game/CharacterComponent";
import CharacterActionComponent from "../in-game/CharacterActionComponent";
import { Characters } from "../mockdata/characters";

export default {
  components: {
    "s-char-details": CharacterDetailComponent,
    "s-character": CharacterComponent,
    "s-char-action": CharacterActionComponent,
  },
  created() {
    this.player = this.setCharacterInGameProperties(this.$store.state.player);
    this.enemy = this.setCharacterInGameProperties(this.$store.state.enemy);

    this.$store.state.enemyTurn = true;
    this.$store.state.playerTurn = true;
    this.$store.state.isBattleWin = false;
    logger.clearLogs();
  },
  mounted() {
    this.playFieldBGM();
    this.showNotification("Battle started!");
  },
  methods: {
    getTotalAttribute(actor, attribute) {
      let baseAttribute = actor.stats[attribute];

      const hasWeapon = actor.equipment && actor.equipment.weapon;
      const hasArmor = actor.equipment && actor.equipment.armor;

      let weaponAttribute = hasWeapon
        ? actor.equipment.weapon.bonus[attribute]
        : 0;
      let armorAttribute = hasArmor
        ? actor.equipment.armor.bonus[attribute]
        : 0;

      const totalEquipmentBonus = weaponAttribute + armorAttribute;
      return baseAttribute + totalEquipmentBonus;
    },
    setCharacterInGameProperties(character) {
      let inGameCharacter = character;

      // set attribute
      const actor_hp = this.getTotalAttribute(character, "health");
      const actor_mp = this.getTotalAttribute(character, "mana");
      inGameCharacter.stats.off = this.getTotalAttribute(character, "off");
      inGameCharacter.stats.def = this.getTotalAttribute(character, "def");
      inGameCharacter.stats.agi = this.getTotalAttribute(character, "agi");
      inGameCharacter.stats.int = this.getTotalAttribute(character, "int");
      inGameCharacter.stats.luk = this.getTotalAttribute(character, "luk");

      const maxHp = actor_hp;
      const maxMp = actor_mp;

      this.$set(inGameCharacter, "isTurn", true);
      this.$set(inGameCharacter, "maxHp", maxHp);
      this.$set(inGameCharacter, "currentHp", maxHp);
      this.$set(inGameCharacter, "maxMp", maxMp);
      this.$set(inGameCharacter, "currentMp", maxMp);

      if (character.classType) {
        let defaultCharacter = Characters.find(
          (_) => _.isEnabled && character.classType === _.id
        );

        inGameCharacter.detail = defaultCharacter.detail;
        inGameCharacter.sprite = defaultCharacter.sprite;
      } else {
        const spriteName = character.name.replace(" ", "-").toLowerCase();
        inGameCharacter.detail = {
          image: spriteName,
          posNormal: {
            x: "0px",
            y: "0px",
          },
        };
        inGameCharacter.sprite = {
          image: spriteName,
          size: 300,
        };
      }

      return inGameCharacter;
    },
    setAction(actor, receiver, action, hasEnemy = false) {
      // Immediately resets notifications
      this.notificationMessages = [];
      this.executeAction(actor, receiver, action);
      if (!hasEnemy) {
        setTimeout(this.setEnemyAction, 3000);
      }
    },
    playFieldBGM() {
      const fieldBGM = document.getElementById("fieldBGM");
      fieldBGM.loop = true;
      fieldBGM.play();
    },
    executeAction(actor, receiver, action) {
      let totalHpDamage = 0;
      let totalMpDamage = 0;
      let totalHpRegen = 0;
      let totalMpRegen = 0;
      let message = "";
      let hasSkillDamage = false;
      let hasSkillMpDamage = false;
      let hasHit = true;
      let attackPropertyType = "";

      switch (action) {
        case "none": {
          break;
        }
        case "attack": {
          attackPropertyType = "P";
          totalHpDamage = actor.stats.off;
          message = `${actor.name} attacks ${receiver.name}!`;
          break;
        }
        case "focus": {
          totalMpRegen = actor.stats.int * 0.75;
          message = `${actor.name} is channeling mana!`;
          break;
        }
        // used skill
        default: {
          const usedSkill = actor.skills.find((_) => _._id === action);

          message = `${actor.name} used ${usedSkill.name}!`;
          this.queueNotification(message);

          attackPropertyType = usedSkill.type;

          const baseValue =
            usedSkill.type === "M" ? actor.stats.int : actor.stats.off;
          const modifier = usedSkill.damage / 100;

          if (usedSkill.target === "enemy") {
            hasSkillDamage = true;
            totalHpDamage = baseValue * modifier;
          } else {
            if (usedSkill.damage < 0) {
              totalHpRegen = baseValue * modifier * -1;
            }
          }

          actor.currentMp = actor.currentMp - usedSkill.cost;
        }
      }

      // Calculate Crit Chance
      const isCrit = this.getRandomValue(100) < actor.stats.luk * 100;

      if (isCrit) {
        totalHpDamage = totalHpDamage * 1.5;
      }

      // Calculate damage after defense
      const mdef = attackPropertyType === "M" ? receiver.stats.int / 2 : 0;
      const def =
        attackPropertyType === "P"
          ? receiver.stats.def
          : receiver.stats.def / 2;
      totalHpDamage = totalHpDamage - (receiver.stats.def + mdef);

      // Calculate accuracy/evade
      const totalEvadeHit = actor.stats.agi + receiver.stats.agi;
      const hitChance = this.getRandomValue(totalEvadeHit);

      hasHit = hitChance / 2 < actor.stats.agi;

      if (!hasHit) {
        totalHpDamage = 0;
        totalMpDamage = 0;
      }

      totalHpDamage = totalHpDamage < 0 ? 0 : totalHpDamage;
      totalMpDamage = totalMpDamage < 0 ? 0 : totalMpDamage;

      receiver.currentHp = Math.floor(receiver.currentHp - totalHpDamage);
      receiver.currentMp = Math.floor(receiver.currentMp - totalMpDamage);
      actor.currentHp = Math.floor(actor.currentHp + totalHpRegen);
      actor.currentMp = Math.floor(actor.currentMp + totalMpRegen);

      receiver.currentHp = receiver.currentHp < 0 ? 0 : receiver.currentHp;
      receiver.currentMp = receiver.currentMp < 0 ? 0 : receiver.currentMp;

      actor.currentHp =
        actor.currentHp > actor.maxHp ? actor.maxHp : actor.currentHp;
      actor.currentMp =
        actor.currentMp > actor.maxMp ? actor.maxMp : actor.currentMp;

      if (action === "attack" || hasSkillDamage) {
        if (!hasHit) {
          message = `${message} ${actor.name} missed!`;
        } else {
          let critAppend = "";
          if (isCrit) {
            critAppend = "CRITICAL ";
          }
          message = `${message} ${actor.name} deals ${totalHpDamage.toFixed(
            2
          )} ${critAppend}damage!`;
        }

        this.queueNotification(message);
      } else if (hasSkillMpDamage) {
        message = `${message} ${actor.name} reduced ${
          receiver.name
        } MP by ${totalMpDamage.toFixed(2)}!`;
        this.queueNotification(message);
      } else if (action === "focus") {
        message = `${message} ${actor.name} regenerates ${totalMpRegen.toFixed(
          2
        )} MP!`;
        this.queueNotification(message);
      } else if (totalHpRegen > 0) {
        message = `${message} ${actor.name} regenerates ${totalHpRegen.toFixed(
          2
        )} HP!`;
        this.queueNotification(message);
      }

      this.showNotification();

      actor.isTurn = false;

      if (receiver.currentHp <= 0) {
        receiver.isTurn = false;
      }
    },
    executeFieldTurn(left, right) {
      this.isEndGame = left.currentHp <= 0 || right.currentHp <= 0;

      if (left.currentHp <= 0) {
        this.$store.state.isBattleWin = true;
        this.endGameMessage = `${right.name} WINS!`;
      } else if (right.currentHp <= 0) {
        this.$store.state.isBattleWin = false;
        this.endGameMessage = `${left.name} WINS!`;
      }

      if (this.isEndGame) {
        left.isTurn = false;
        right.isTurn = false;

        dataBus.setBattleResult({
          turnCount: this.turnCount,
        });
        logger.addLog("ingame", `Battle ended at Turn ${this.turnCount}`);
        logger.addLog("ingame", this.endGameMessage);

        setTimeout(function () {
          eventBus.$emit("state", "result");
        }, 5000);
      } else {
        left.isTurn = true;
        right.isTurn = true;

        logger.addLog("ingame", `End of Turn ${this.turnCount}`);
        this.turnCount++;
      }
    },
    setEnemyAction(isRandom = false) {
      //Do not execute actions when end game.
      if (this.isEndGame) {
        return;
      }

      // Increment Action Retry - To avoid infinite recursion to get enemy action
      this.enemyActionRetry++;

      if (this.enemyActionRetry > 5) {
        const noChoiceRandom = this.getRandomValue(2);

        this.executeAction(
          this.enemy,
          this.player,
          noChoiceRandom === 0 ? "attack" : "focus"
        );
        this.enemyActionRetry = 0;
        return;
      }

      // Get player's HP Percent
      const playerHpPercent = (this.player.currentHp / this.player.maxHp) * 100;

      // Get enemy's HP Percent
      const enemyHpPercent = (this.enemy.currentHp / this.enemy.maxHp) * 100;

      // Get enemy's MP Percent
      const enemyMpPercent = (this.enemy.currentMp / this.enemy.maxMp) * 100;

      // Get damaging skill
      if (!isRandom) {
        const damageSkills = this.enemy.skills.filter((_) => _.damage > 0);
        const healSkills = this.enemy.skills.filter(
          (_) => _.damage < 0 && _.target === "self"
        );

        // Self preservation > Burst skills > Regen MP > Normal Attack
        if (healSkills.length && enemyHpPercent < 50) {
          const healSkill = healSkills[this.getRandomValue(healSkills.length)];

          if (healSkill.cost < this.enemy.currentMp) {
            this.executeAction(this.enemy, this.player, healSkill._id);
          } else {
            this.setEnemyAction();
          }
        } else if (damageSkills.length && enemyMpPercent > 30) {
          const damageSkill =
            damageSkills[this.getRandomValue(damageSkills.length)];

          if (damageSkill.cost < this.enemy.currentMp) {
            this.executeAction(this.enemy, this.player, damageSkill._id);
          } else {
            this.setEnemyAction();
          }
        } else if (enemyMpPercent <= 30 && playerHpPercent > 20) {
          this.executeAction(this.enemy, this.player, "focus");
        } else {
          this.executeAction(this.enemy, this.player, "attack");
        }
      } else {
        // 2 default actions - Attack and Focus
        const totalActionCount =
          2 + (this.enemy.skills ? this.enemy.skills.length : 0);

        const randomAction = this.getRandomValue(totalActionCount);

        const skill = this.enemy.skills.length
          ? this.enemy.skills[randomAction - 2]
          : null;

        switch (randomAction) {
          case 0:
            this.executeAction(this.enemy, this.player, "attack");
            break;
          case 1:
            // Do not use Focus when MP is at least 70 percent
            if (enemyMpPercent > 70) {
              this.setEnemyAction();
            } else {
              this.executeAction(this.enemy, this.player, "focus");
            }
            break;
          default:
            if (skill && this.enemy.currentMp >= skill.cost) {
              this.executeAction(this.enemy, this.player, skill._id);
            } else {
              this.setEnemyAction();
            }
            break;
        }
      }

      this.enemyActionRetry = 0;
    },
    getRandomValue(maxValue) {
      return Math.floor(Math.random() * Math.floor(maxValue));
    },
    queueNotification(message) {
      if (message) {
        this.notificationMessages.push(message);
      }
    },
    showNotification() {
      logger.addQueuedLog("ingame", this.notificationMessages);
      this.notificationMessages.reverse();
      this.continueNotification();
    },
    continueNotification() {
      this.notificationMessage = this.notificationMessages.pop();
      if (this.notificationMessage) {
        if (this.notifTimer) {
          clearTimeout(this.notifTimer);
        }

        this.notifTimer = setTimeout(
          this.resetNotification,
          this.notificationMessages.length ? 2000 : 3000
        );
      }
    },
    resetNotification() {
      this.notificationMessage = "";

      if (this.notificationMessages.length > 0) {
        this.continueNotification();
      }
    },
    logout() {
      eventBus.$emit("state", "menu");
    },
  },
  data() {
    return {
      notificationMessages: [],
      notificationMessage: "",
      notifTimer: null,
      isEndGame: false,
      endGameMessage: "",
      turnCount: 1,
      player: {},
      enemies: [],
      enemy: null,
      hasAllAction: false,
      enemyActionRetry: 0,
    };
  },
  computed: {
    dungeon() {
      return this.$store.state.dungeon;
    },
    isBoss() {
      return this.$store.state.isCurrentEnemyBoss;
    },
    playerTurn() {
      return this.$store.state.playerTurn;
    },
    enemyTurn() {
      return this.$store.state.enemyTurn;
    },
    fieldStyle() {
      const imgUrl = require(`../../assets/bg/${this.dungeon.image}.png`);
      return {
        "background-image": `url(${imgUrl})`,
      };
    },
    fieldAudio() {
      const audioFile = this.isBoss ? "boss.mp3" : "battle.mp3";
      return require(`../../assets/bgm/${audioFile}`);
    },
    displayActions() {
      return {
        visibility: this.player.isTurn ? "visible" : "hidden",
      };
    },
    displayEnemyActions() {
      return {
        visibility:
          false && this.enemy.isTurn && !this.player.isTurn
            ? "visible"
            : "hidden",
      };
    },
    gameTurn() {
      return this.player.isTurn ? "Your turn" : "Enemy's turn";
    },
  },
  watch: {
    hasAllAction: function (value) {
      if (value) {
        this.executeFieldTurn(this.enemy, this.player);
        this.hasAllAction = false;
      }
    },
    "player.isTurn": function (value) {
      if (!value && !this.enemy.isTurn && !this.isEndGame) {
        this.hasAllAction = true;
      }
    },
    "enemy.isTurn": function (value) {
      if (!value && !this.player.isTurn && !this.isEndGame) {
        this.hasAllAction = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
// animations
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.in-game-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    "header"
    "center"
    "center"
    "center"
    "center"
    "center"
    "center"
    "center"
    "center"
    "center"
    "footer";

  .notifications {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    background: #000;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 23%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 77%
    );

    span {
      width: 10px;
      word-wrap: break-word;
    }
  }

  .end-game,
  .boss-fight {
    position: absolute;
    left: 0px;
    top: 280px;
    width: 100%;
    text-align: center;
    font-size: 48px;
    background: #000;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 23%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 77%
    );
  }

  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    font-size: 18px;
    padding: 0px 10px;
  }

  .field {
    grid-area: center;
    display: flex;
    width: 100%;
    background-position: 50% 100%;
  }

  .character-details {
    grid-area: footer;
    display: flex;
    width: 100%;
  }
}
</style>
