<template>
  <div class="login-container">
    <div class="header">
      <h1>Login</h1>
    </div>
    <form>
      <div class="login-form">
        <span>
          <label>Username</label>
          <input
            type="text"
            v-model="username"
            :class="{ error: $v.password.$error }"
            @blur="$v.username.$touch()"
            v-tooltip="tooltipUsername"
          />
        </span>
        <span>
          <label>Password</label>
          <input
            type="password"
            v-model="password"
            :class="{ error: $v.password.$error }"
            @blur="$v.password.$touch()"
            v-tooltip="tooltipPassword"
          />
        </span>
        <span class="error" v-if="errorMessage">{{ errorMessage }}</span>
      </div>
      <div class="action">
        <button :disabled="$v.username.$invalid || $v.password.$invalid" @click.prevent="userLogin()">Login</button>
        <button type="button" @click="signup()">Sign Up</button>
      </div>
    </form>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import { eventBus, dataBus } from '../../main';
import AccountMixin from '../../shared/mixin/AccountMixin';

// MockData only - Change this to fit the machine problem data structure
import { Characters } from '../mockdata/characters';

export default {
  methods: {
    userLogin() {
      eventBus.$emit('loader', true);
      this.login(this.username, this.password)
        .then((result) => {
          sessionStorage.setItem('accountId', result.accountId);
          return this.getCharacterDetails(result.accountId);
        })
        .then((result) => {
          if (result) {
            this.$store.commit('updatePlayer', result);
          }

          eventBus.$emit('state', 'character-display');
          eventBus.$emit('loader', false);
        })
        .catch((error) => {
          this.errorMessage = error.body.error;
          eventBus.$emit('loader', false);
        });
    },
    signup() {
      eventBus.$emit('state', 'account');
    },
  },
  data() {
    return {
      username: '',
      password: '',
      errorMessage: '',
    };
  },
  computed: {
    tooltipPassword() {
      const isShow = this.$v.password.$error;

      return {
        placement: 'right-end',
        content: 'Field is required!',
        trigger: 'manual',
        show: isShow,
      };
    },
    tooltipUsername() {
      const isShow = this.$v.username.$error;

      return {
        placement: 'right-end',
        content: 'Field is required!',
        trigger: 'manual',
        show: isShow,
      };
    },
  },
  validations: {
    username: { required },
    password: { required },
  },
  mixins: [AccountMixin],
};
</script>

<style lang="scss" scoped>
.login-container {
  background: #eef3fa;
  background-image: url('../../assets/bg/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .login-form {
    display: flex;
    flex-flow: column;
    margin: 20px;

    span {
      display: flex;
      justify-content: space-between;
      width: 50%;

      label {
        margin: 10px;
      }

      &.error {
        color: red;
        background: white;
        width: 100%;
      }
    }
  }

  .action {
    text-align: center;
  }
}
</style>
