<template>
  <div class="menu-container">
    <div class="title">{{ title }}</div>
    <div class="buttons">
      <button @click="startGame()">Start Game</button>
    </div>
  </div>
</template>

<script>
import { eventBus, logger } from "../../main";
export default {
  created() {
    logger.clearLogs();
    sessionStorage.clear();
    this.$store.commit("reset");
  },
  data() {
    return {
      title: "Magenic Masters - Vue Batch 2",
    };
  },
  methods: {
    startGame() {
      eventBus.$emit("state", "login");
    },
  },
};
</script>

<style lang="scss" scoped>
.menu-container {
  width: 1024px;
  height: 100%;
  background-image: url("../../assets/bg/Main Screen.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;

  .title {
    position: relative;
    top: 250px;
    font-size: 48px;
    font-style: "pkmndp", Helvetica, Arial;
    text-align: center;
    text-shadow: 2px 2px #969ff0;
  }

  .buttons {
    position: relative;
    top: 400px;
    text-align: center;
  }
}
</style>
