<template>
  <div class="character-detail-container">
    <div class="face">
      <v-popover trigger="hover" placement="top-start">
        <div class="face-crop">
          <img :src="faceImage" :style="faceStyle" />
        </div>
        <template slot="popover">
          <div class="stat-tooltip">
            <label>Attributes</label>
            <span>ATK: {{ character.stats.off }}</span>
            <span>DEF: {{ character.stats.def }}</span>
            <span>AGI: {{ character.stats.agi }}</span>
            <span>INT: {{ character.stats.int }}</span>
            <span>LUK: {{ character.stats.luk }}</span>
          </div>
        </template>
      </v-popover>
    </div>
    <div class="details">
      <div class="name">[Lvl. {{ character.level }}] {{ character.name }}</div>
      <div class="health">
        <div class="hp">
          <div class="bar">
            <div class="current" :style="hpBarStyle"></div>
          </div>
          <p>[HP] {{ character.currentHp }}/{{ character.maxHp }}</p>
        </div>
        <div class="mp">
          <div class="bar">
            <div class="current" :style="mpBarStyle"></div>
          </div>
          <p>[MP] {{ character.currentMp }}/{{ character.maxMp }}</p>
        </div>
      </div>
      <div class="slot">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
      required: true,
    },
    state: String,
  },
  data() {
    return {};
  },
  methods: {},
  computed: {
    faceImage() {
      return require(`../../assets/characters/${this.character.detail.image}.png`);
    },
    faceStyle() {
      return {
        "margin-top": this.character.detail.posNormal.y,
        "margin-left": this.character.detail.posNormal.x,
      };
    },
    hpBarStyle() {
      const hpPercent = (this.character.currentHp / this.character.maxHp) * 100;

      return {
        width: `${hpPercent}%`,
      };
    },
    mpBarStyle() {
      const mpPercent = (this.character.currentMp / this.character.maxMp) * 100;

      return {
        width: `${mpPercent}%`,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.stat-tooltip {
  display: flex;
  flex-direction: column;

  label {
    border-bottom: 1px solid #fff;
  }
}

.character-detail-container {
  background-image: url("../../assets/bg/1.png");
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 28%;

  border: 1px solid #000;
  width: 100%;
  height: 100%;

  display: flex;

  .details {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "name"
      "health"
      "action"
      "action"
      "action"
      "action";

    .name {
      height: 20%;
      margin: 20px;
      grid-area: name;
    }

    .health {
      height: 30%;
      .bar {
        width: 100%;
        height: 10px;
        border: 1px solid #000;
      }

      .hp {
        margin-left: 20px;
        grid-area: hp;
        width: 75%;

        .current {
          height: 100%;
          background-size: 20%;
          background-image: url("../../assets/ui/hp.png");
        }
      }

      .mp {
        grid-area: mp;
        margin-left: 20px;
        width: 75%;

        .current {
          height: 100%;
          background-size: 20%;
          background-image: url("../../assets/ui/mp.png");
        }
      }
    }

    .slot {
      height: 50%;
      grid-area: action;
    }
  }

  .face {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .face-crop {
      border: 1px solid #000;
      width: 230px;
      height: 230px;
      overflow: hidden;
    }
  }
}
</style>
