<template>
  <div class="character-container">
    <div class="character">
      <img :src="characterImage" :style="characterStyle" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
      required: true,
    },
    state: String,
  },
  computed: {
    characterImage() {
      return require(`../../assets/characters/${this.character.sprite.image}.png`);
    },
    characterStyle() {
      return {
        'max-height': `${this.character.sprite.size}px`,
        height: 'auto',
        width: 'auto',
        '-webkit-transform': !this.character.classType ? 'scaleX(-1)' : 'scaleX(1)',
        transform: !this.character.classType ? 'scaleX(-1)' : 'scaleX(1)',
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.character-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .character {
    text-align: center;
    position: relative;
    bottom: 130px;
  }

  .ailments {
    position: absolute;
  }
}
</style>
