<template>
  <div class="character-action-container">
    <div class="basic">
      <button
        @click="triggerAction('attack')"
        v-tooltip="'Deal around ' + character.stats.off + ' damage.'"
      >
        Attack
      </button>
      <button
        @click="triggerAction('focus')"
        v-tooltip="'Regenerate ' + character.stats.int * 0.75 + ' of MP.'"
      >
        Focus
      </button>
    </div>
    <div class="skill">
      <span v-for="skill in character.skills" :key="skill._id">
        <v-popover trigger="hover" placement="top-start">
          <button
            :disabled="isSkillDisabled(skill)"
            @click="triggerAction(skill._id)"
          >
            {{ getButtonName(skill) }}
          </button>

          <template slot="popover">
            <div class="skill-tooltip">
              <span class="title"
                >[] {{ skill.name }} - MP: {{ skill.cost }}</span
              >
              <span
                >Damage:{{ skill.damage }} | Target: {{ skill.target }}</span
              >
            </div>
          </template>
        </v-popover>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    character: Object,
  },
  data() {
    return {
      isHover: false,
      skillDesc: "",
    };
  },
  computed: {},
  methods: {
    getSkillTooltip(skill) {
      return {};
    },
    triggerAction(action) {
      this.$emit("action", action);
    },
    isSkillDisabled(skill) {
      let isDisabled = true;
      isDisabled = this.character.currentMp < skill.cost;
      return isDisabled;
    },
    getButtonName(skill) {
      if (this.character.currentMp < skill.mpCost) {
        return "Lacks MP";
      } else {
        return skill.name;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.skill-tooltip {
  display: flex;
  flex-flow: column;

  .title {
    border-bottom: 1px solid #fff;
  }

  span {
    max-width: 300px;
  }
}

.character-action-container {
  text-align: center;

  .basic {
    button {
      width: 30%;
      margin: 2px;
    }
  }
  .skill {
    display: flex;
    span {
      width: 100%;
      button {
        width: 100%;
        margin: 2px;
      }
    }
  }
}
</style>
