<template>
  <div class="loader-overlay">
    <div class="loader">
      <img src="../../assets/ui/loading.gif" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.loader-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

  .loader {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-top: calc(calc(100vh - 200px) / 2);
    background-color: black;
    text-align: center;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  }
}
</style>
