<template>
  <div class="main-container">
    <app-loader v-if="showLoader"></app-loader>
    <s-wrapper :currentState="currentState">
      <router-view></router-view>
    </s-wrapper>
    <audio id="menuBGM" autoplay loop>
      <source :src="menuBGM" type="audio/mpeg" />
    </audio>
  </div>
</template>

<script>
import WrapperComponent from "./WrapperComponent";
import { eventBus } from "../main";

export default {
  created() {
    eventBus.$on("state", (value) => {
      const bgm = document.getElementById("menuBGM");

      if (value === "ingame" || value === "result") {
        bgm.pause();
        bgm.currentTime = 0;
      } else {
        bgm.play();
      }

      sessionStorage.setItem("state", value);
      this.currentState = value;
      this.$router.push(`/${value}`);
    });
    eventBus.$on("loader", (value) => {
      this.showLoader = value;
    });
  },
  components: {
    "s-wrapper": WrapperComponent,
  },
  data() {
    return {
      currentState: "menu",
      showLoader: false,
    };
  },
  computed: {
    menuBGM() {
      return require(`../assets/bgm/menu.mp3`);
    },
  },
};
</script>

<style lang="scss" scoped>
.main-container {
  margin: auto;
  width: 1024px;
  height: 826px;

  border: 1px solid #000;
}
</style>
