<template>
  <div>
    <slot>No contents to be displayed</slot>
  </div>
</template>

<script>
export default {
  props: ["currentState"],
};
</script>

<style lang="scss" scoped>
div {
  width: 100%;
  height: 100%;
}
</style>
